<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render "suggests/form", submit_title: "編集する" %>
      <div class="link-btn right">
        <%= link_to "削除する", suggest_path(@suggest), method: :delete, data:{confirm:"本当に削除してよろしいですか？"}, class:"btn btn-danger" %>
      </div>
    </div>
  </div>
</div>