<div class="container">
  <div class="row">
    <div class="col-12"> 
      <% if worker_signed_in? %>
        <div class="contract_index-worker">
          <div class="contract_index-status half-box">
            <h5>契約中/レビュー待ち</h5>
            <div class="contract_index-box">
              <%= render "contracts/index_table", contracts: @contracts %>
            </div>
          </div>
          <div class="contract_index-status half-box">
            <h5>契約完了</h5>
            <div class="contract_index-box">
              <%= render "contracts/index_table", contracts: @end_contracts %>
            </div>
          </div>
        </div>
      <% elsif employer_signed_in? %>
        <div class="contract_index-employer">
          <div class="contract_index-status half-box">
            <h5>契約中/レビュー未済</h5>
            <div class="contract_index-box">
              <%= render "contracts/index_table", contracts: @contracts %>
            </div>
          </div>
          <div class="contract_index-status half-box">
            <h5>契約完了</h5>
            <div class="contract_index-box">
              <%= render "contracts/index_table", contracts: @end_contracts %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>