<div class="like_btn">
  <% if like.nil? %>
    <%= link_to "お気に入りに追加する", worker_likes_path(worker), method: :post, remote: true, class:"btn btn-success wid-100" %>
  <% else %>
    <%= link_to "お気に入りから外す", worker_like_path(worker, like), method: :delete, remote: true, class:"btn btn-danger wid-100" %>
  <% end %>
</div>