<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render partial: "suggests/index", locals:{suggests: @suggests, target_dates: @target_dates} %>
    </div>
  </div>
</div>
