<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render "offers/content", offer: @offer %>
      <div class="link-btn wid-70 ma-a">
        <%= link_to "マイページへ戻る", employers_path, class:"btn btn-primary wid-100" %>
      </div>
    </div>
  </>
</div>