<div class="container">
  <div class="row">
    <div class="col-6 border-r">
      <%= render "suggests/content", suggest: @suggest %>
    </div>
    <div class="col-6">
      <p class="center">
        左の案件に対して、下記内容でオファーします。
      </p>
      <%= render "offers/form", path: suggest_offers_path %>
    </div>
  </div>
</div>