// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contain {
  width: 80%;
  margin: 0 auto;
  display: flex;
  border: 1px solid #ccc;
  .left-box {
    width: 40%;
    .room_header-box {
      height: 70px;
      border: 1px solid #eee;
      .header {
        padding-left: 20px;
        line-height: 70px;
      }
    }
    .room_main-box {
      height: 70vh;
      border: 1px solid #eee;
    }
  }
  .right-box {
    width: 60%;
    .message_header-box {
      height: 70px;
      border: 1px solid #eee;
      .header {
        padding-left: 20px;
        line-height: 70px;
      }
    }
    .message_main-box {
      height: 70vh;
      border: 1px solid #eee;
    }
  }
}
