<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="review_title pa-30">
        <h2>『<%= @worker.fullname %>さん』の評価一覧</h2>
      </div>
      <%= render "reviews/index", reviews: @reviews %>
    </div>
  </div>
</div> 
