<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="incumbent_form-title">
        <h2>アルバイト先編集フォーム</h2>
      </div>
      <div class="incumbent_form-box">
        <%= render "incumbents/form" %>
      </div>
    </div>
  </div>
</div>