<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>勤務希望地一覧</h3>
      <div id="location_index">
        <%= render "locations/location_index", locations: @locations %>
      </div>
      <div id="location_input">
        <%= render "locations/location_input" %>
      </div>
      <div class="links">
        <%= link_to "マイページに戻る", workers_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>